div,p,nav {
    border-radius: 0 !important;
}
html{
    height:100%;
}
body{
  font-family: 'Roboto', sans-serif;
  color: #2D3E50;
}
.padded{
  padding-top: 70px;
}
.text-small{
    font-size: 0.85em;
}
main{
    min-height:700px;
    padding-bottom:30px;
}
footer{
    padding-bottom: 50px;
}
.text-gray{
    color: #696665;
}
.bg-misc{
    background-color: #ECF0F1;
}
.glyphicon-social{
    width:2em;
    height:2em;
    opacity: 0.3;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 2px 2px;
}
.glyphicon-social:hover{
    opacity: 0.5;
}
.glyphicon-github{
    background-image: url('../images/glyphicons_social_21_github.png') ;
}
.glyphicon-twitter{
    background-image: url('../images/glyphicons_social_31_twitter.png')  ;
}
.glyphicon-facebook{
    background-image: url('../images/glyphicons_social_30_facebook.png') ;
}
.glyphicon-rss{
    background-image: url('../images/glyphicons_social_37_rss.png') ;
}
.glyphicon-email{
    background-image: url('../images/glyphicons_social_39_e-mail.png')  ;
}
.brand{
    font-family: 'Lobster Two', cursive;
    font-size: 2em;
}
.navbar-inverse{
    background-color: #34495E;
    border-color:#34495E;
}
.navbar-inverse a{
    color: #ECF0F1!important;
}
.navbar-inverse a:hover{
    color: #BEC3C7 !important;
}
.bg-success{
    background-color: #1BBC9D;
    border-color: #1BBC9D;
}
.bg-success:hover{
    background-color: #16A086;
    border-color: #16A086;
}
.bg-danger{
    background-color: #E84C3D;
}
.text-muted{
    color: #96A6A6;
}
a{
    color: #3598DC;
}
.bg-dark .navbar{
    margin-bottom:0;
}
.cover{
 position: relative;
 overflow: hidden;
 background-color: rgba(48,73,95,0.6);
}
.cover::after {
  content: "";
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('../images/flowreader_cover_index_bg.jpg');
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width:100%;
  height: 100%;
  position: absolute;
  z-index: -1;   
}

.container-narrow{
    max-width:768px;
    display: table;
}
.outer-jumbotron{
    vertical-align: middle;
    display: table-cell;
}
.cover .jumbotron{
    background-color: inherit;
    color: #ECF0F1;
    /*text-shadow: 1px 1px #34495E;*/
}
.list-group-narrow .list-group-item{
  padding-top:3px;
  padding-bottom:3px;
}
tr:hover .hover{
    visibility:visible;
    display:block !important;
}
.hover{
    visibility:hidden;
    display:block!important;
}
/**
 *@link http://css-tricks.com/almanac/properties/a/appearance/
 */
/*
input.search {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    -webkit-appearance: searchfield;
}
*/
input.search::-webkit-search-cancel-button {
    -webkit-appearance: searchfield-cancel-button;
}

/**
 * NOTIFICATIONS
 */
nav .alert{
  background-color: inherit;
  border: none;
  padding:0;
}
nav .alert-info{
  color:#ECF0F1!important;
}
.text-info{
  color:#BEC3C7;
}
.text-success{
  color: #1BBC9D;
}
.text-error{
  color:#E77E23;
}
.close{
  color:inherit;
  font-weight: normal;
}
/**
 * ANIMATION
 */
.blink{
  -webkit-animation-name: blink;
  -moz-animation-name: blink;
  -o-animation-name: blink;
  animation-name: blink;
  -webkit-animation-duration: 0.5s;
  -moz-animation-duration: 0.5s;
  -o-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  -moz-animation-direction: alternate;
  -o-animation-direction: alternate;
  animation-direction: alternate;
  -webkit-animation-timing-function: ease-in-out;
  -moz-animation-timing-function: ease-in-out;
  -o-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
}

@-webkit-keyframes rolldown {
  0% {
    opacity: 0;
  }
  100% {
    opacity:1;
  }
}


@-webkit-keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity:1;
  }
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity:1;
  }
}