<!-- dashboard -->
<section class="container">
    <div class="row">
        <aside class="col-xs-2">
            <button class="btn btn-danger btn" data-ng-click="prompt()">Subscribe</button>
        </aside>
        <article class="col-xs-10">
            <div class="row">
                <form name="search" class="col-xs-12">
                    <div class="input-group">
                        <label for="q"></label>
                        <input type="search" name="q" id="q" class="form-control"/>
                        <span class="input-group-btn">
                            <button class="btn btn-default">Search</button>
                        </span>
                    </div>
                </form>
            </div>
        </article>
    </div>
</section>
