<!-- dashboard -->
<section class="container">
    <div class="row" data-ng-include="baseUrl+'templates/top.html'">
    </div>
    <div class="row">
        <p>&nbsp;</p>
    </div>
    <div class="row">
        <aside class="col-xs-2" data-ng-include="baseUrl+'templates/side.html'">
        </aside>
        <article class="col-xs-10">
            <a data-ng-href="{{entry.link}}" target="_blank" class="lead">{{entry.title}}

            </a>

            <p><a data-ng-href="#/dashboard/feed/{{entry.feed.id}}">{{entry.feed.title}}</a></p>

            <p class="text-muted">{{entry.contentSnippet}}</p>

            <p class="text-small text-muted">{{entry.publishedDate|date:'medium'}}</p>

            <p>
                <span data-ng-repeat="category in entry.categories.toArray()">
                     <a class="label label-default"
                        data-ng-href="#/dashboard/category/{{category}}">{{category}}</a>
                </span>
            </p>

            <p>&nbsp;</p>

            <section data-ng-bind-html="entry.content"></section>
        </article>
    </div>
</section>
