<!-- feed-extra.html -->
<!--
    Copyright © 2014 mparaiso. All Rights Reserved.
-->
<!-- extra infos on the top of the entry list for a specific feed -->
<div class="row">
    <blockquote class="col-sm-6">
        <p class='text-small'>{{feed.description}}</p>
        <p class='text-small'><a ng-href="feed.link" target="_blank">{{feed.link}}</a></p>
    </blockquote>
    <div ng-show="feed" class="col-sm-6" ng-controller="FeedCtrl">
        <button class="btn btn-default" ng-click="refresh(feed.feedUrl)">Refresh Feed</button>
        <!-- <button class="btn btn-warning">Unsubscribe Feed</button> -->
    </div>
</div>

