<aside class="col-xs-2">
    <section data-ng-controller="SubscribeCtrl">
        <form>
            <button class="btn btn-danger btn form-control" data-ng-click="subscribe()">Subscribe</button>
        </form>
    </section>
</aside>
<form name="search" class="col-xs-10">
    <div class="input-group">
        <label for="q"></label>
        <input type="search" name="q" id="q" class="form-control"/>
                        <span class="input-group-btn">
                            <button class="btn btn-default">Search</button>
                        </span>
    </div>
</form>